

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">About Us</h1>
    
    <div class="col-lg-6 mx-auto">
      <p class="lead">Sneakers was made by Adrian Maningding, A sneaker collector just like yourself. What started with a 
        single pair of Nikes became a foundation of what was to become. Sneakers was made to add your favourite sneaker to 
        your very own collection to keep track of. Create NFT's from your very own sneaker or even just add, delete and update
        your collection. The possibilites are endless! It's up to you what you can create and collect with Sneakers. 
      </p>
    </div>
    <div class="px-4 py-5 my-5 text-center">
        <img src="/img/About Us.webp" width="400" height="220" class="d-block mx-lg-auto text-align: center" loading="lazy" alt="Sneaker Collection">
      </div>

</div>